absl-py==2.0.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
blinker==1.8.2
botocore==1.34.122
CacheControl==0.13.1
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.0
comtypes==1.4.4
contourpy==1.2.0
cramjam==2.7.0
cryptography==41.0.7
cycler==0.12.1
dask==2023.12.1
debugpy==1.8.0
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
fake-useragent==1.5.1
fastjsonschema==2.19.1
fastparquet==2023.10.1
ffmpeg-python==0.2.0
filelock==3.13.1
firebase-admin==6.3.0
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.46.0
fsspec==2023.12.0
future==0.18.3
gast==0.4.0
google-api-core==2.15.0
google-api-python-client==2.111.0
google-auth==2.24.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
graphviz==0.20.3
grpcio==1.59.3
grpcio-status==1.60.0
gTTS==2.5.1
h11==0.14.0
h5py==3.10.0
httplib2==0.22.0
hyperopt==0.2.7
idna==3.6
implicit==0.7.2
importlib-metadata==7.0.0
ipykernel==6.27.1
ipython==8.18.1
iso8601==2.1.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.5.0
keras==2.10.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.5
libclang==16.0.6
locket==1.0.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mediapipe==0.10.0
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.7
nbformat==5.10.4
nest-asyncio==1.5.8
networkx==3.2.1
numpy==1.26.2
oauthlib==3.2.2
opencv-contrib-python==4.9.0.80
opencv-python==4.8.1.78
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.3
parso==0.8.3
partd==1.4.1
Pillow==10.1.0
platformdirs==4.1.0
plotly==5.22.0
prompt-toolkit==3.0.41
proto-plus==1.23.0
protobuf==3.19.6
psutil==5.9.6
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydot==2.0.0
pydot-ng==2.0.0
Pygments==2.17.2
PyJWT==2.8.0
pyparsing==3.1.1
pypdfium2==4.0.0
pypiwin32==223
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.35.1
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.18.1
rsa==4.9
s3transfer==0.10.1
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
selenium==4.26.1
selenium-stealth==1.0.6
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.4.6
stack-data==0.6.3
sympy==1.12
tenacity==8.3.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
toolz==0.12.0
torch==2.1.1+cu118
torchaudio==2.1.1+cu118
torchvision==0.16.1+cu118
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2023.3
ultralytics==8.0.229
undetected-chromedriver==3.5.5
uritemplate==4.1.1
urllib3==2.1.0
wcwidth==0.2.12
websocket-client==1.8.0
websockets==14.0
Werkzeug==3.0.1
wrapt==1.14.1
wsproto==1.2.0
zipp==3.17.0
